* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: bisque;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  }
  
  
  /* Main section styles */
  main {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Heading styles */
  h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Pizza details styles */
  .pizza-details {
    display: flex;
    flex-direction: column;
  }
  
  .pizza-name {
    font-weight: bold;
  }
  
  .pizza-size, .pizza-toppings, .pizza-crust, .pizza-quantity, .pizza-price {
    color: #777;
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  /* Actions styles */
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:first-child {
    background-color: #4caf50;
    color: #fff;
  }
  
  button:last-child {
    background-color: #f44336;
    color: #fff;
    margin-left: 10px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }
  
    th, td {
      padding: 8px;
    }
  }
  
  

  
  
  
  
  
  