/* Global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: bisque;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  /* Main styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  main h1 {
    margin-bottom: 20px;
  }
  
  main p {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  form button[type="submit"] {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #e53935;
  }
  
  address {
    margin-bottom: 20px;
  }
  
  iframe {
    width: 100%;
    height: 400px;
    border: none;
    margin-bottom: 20px;
  }
  
  