html{
    scroll-behavior: smooth;
}

body{
    background-image: url("img/background1.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    margin: auto;
    margin-top: 5%;
    width: 90%;
    line-height: 2.35em;
}

#top{
    color: white;
}

.table{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.table_content{
    border-radius: 0.5em;
    background-color: #E9AB17;
    padding-top: 0.1%;
    border-bottom: 2px solid #E9AB17;
    margin-bottom: -5%;
    text-align: center;
}

.table_content img{
    width: 32%;
    padding: 1%;
    border-radius: 2em;
    float: left;
}

.pizzName{
    font-size: 1.8em;
    margin: 1.5% 0 1% 0;
    font-weight: bold;
    background-color: #0000A5;
    color: white;
    margin-left: 20%;
}

.pizzPrice{
    margin: 1% 0 1% 0;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2%;
    color: black;
}

.pizzRating{
    margin: 2% 0 1% 0;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.pizzAvailable{
    margin: 2% 0 1% 0;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.submit_btn{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

input[type='submit']{
    width: 20%;
    height: 3em;
    border-radius: 1em;
    font-size: 1.5em;
    font-weight: bold;
    background-color: red;
    color: white;
}   

input[type='submit']:hover{
    cursor: pointer;
}   

.pizzPrice input[type='text']{
    width: 5%;
    height: 1.6em;
    padding-top: 0.5%;
    font-size: 0.9em;
    text-align: center;
    background-color: grey;
    color: white;
    border: 1px solid grey;
} 

.pizzRating input[type='number']{
    width: 3.5%;
    height: 1.6em;
    padding-top: 0.5%;
    font-size: 0.9em;
    text-align: center;
    background-color: grey;
    color: white;
    border: 1px solid grey;
}

.box label{
    display: inline-block;
    width: 6%;
    background-color: white;
    transition: all 0.3s;
    border-radius: 0.5em;
  }

.box input[type="radio"]{
    display: none;
}

.box input[type='radio']:checked + label{
    background-color: gray;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}