*{
	margin:0;
	padding:0;
}
body{
	background-image:url("Img/Sign_in.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	height:100%;
	width:100%;
}
.form {
	width:400px;
	height:540px;
	position:relative;
	margin:6% auto;
	background:#fff;
	padding:5px;
	overflow:hidden;
}
.input-group{
	top:180px;
	position:absolute;
	width:280px;
	transition:0.5s;
}
.submit-btn{
	width:85%;
	padding:10px 30px;
	cursor:pointer;
	display:block;
	margin:auto;
	outline:none;
	border-radius:30px;
}

#customer-login{
	left:60px;
}
#new-password-form{
	left:60px;
}
a{
	text-decoration: none;
}
a:hover {
	color:red;
	font-weight:bold;
}

input[type="text"], input[type="password"] {
	background-color: #f9f9f9;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 15px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 300px;
	font-size: 16px;
}
input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
button[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 30px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	padding: 15px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 300px;
	font-size: 16px;
	transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
	background-color: #222;
}
img {
  display: block;
  margin: 0 auto; 
}
a img{
	height:90px;
	width:110px;
	margin-top:10%;
}