html{
    scroll-behavior: smooth;
}

body{
    background-image: url("img/background1.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    font-size: 4em;
    border: 3px solid lightblue;
    color: white;
}

.list{
    margin: auto;
    margin-top: 5%;
    width: 50%;
}

.table{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.table_content{
    border-radius: 0.5em;
    background-color: #E9AB17;
    margin-bottom: -5%;
    text-align: center;
    opacity: 0.95;
}

.table_content:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.category{
    margin: auto;
    width: 35%;
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-column-gap: 1.5%;
    margin-top: 2%;
    line-height: 3em;
    margin-bottom: -2em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.3em
}

.category div{
    background-color: #FFD33F;
    border-radius: 1em;
    color: #4C3D3D;
}

.category div:active{
    color: yellow;
}

.table img{
    width: 30%;
    padding: 1%;
    border-radius: 1em;
    float: left;
    transition: 1s;
}

.table_content img:hover{
    transform: scale(1.5);
}

.pizzName{
    font-size: 1.8em;
    margin: 1.5% 0 1% 0;
    font-weight: bold;
    background-color: #0000A5;
    color: white;
    margin-left: 20%;
}

.pizzPrice{
    margin: 1% 0 1% 0;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 2%;
    color: black;
}

.pizzRating{
    
    margin: 1% 0 1% 0;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 3%;
    color: black;
}

.back div{
    background-color: #FFD33F;
    text-align: center;
    margin: 8% 30% 15% 30%;
    border-radius: 1em;
    padding: 1% 0 1% 0;
    font-size: 1.5em;
    font-weight:bold;
    color: #4C3D3D;
}

#original{
    cursor: pointer;
}

#meat{
    cursor: pointer;
}

#seafood{
    cursor: pointer;
}

#vegetarian{
    cursor: pointer;
}

.categoryWord{
    font-size: 1.3em;
    background-color: #FFD33F;
    border-radius: 0.7em;
    width: 15%;
    line-height: 2em;
    font-weight: bold;
    display: grid;
    grid-template-rows: auto;
    margin:10% auto -2.5% 25%;
    text-align:center;
    color: #4C3D3D;
}

.categoryWord:active{
    color:yellow;
}

.table_content_unavailable{
    border-radius: 0.5em;
    background-color: #E9AB17;
    margin-bottom: -5%;
    text-align: center;
    opacity: 0.85;
    pointer-events: none;
    cursor: default;
}

.table_content_unavailable img{
    width: 30%;
    padding: 1%;
    border-radius: 1em;
    float: left;
    position: relative;
}

.unavailable_img{
    position: absolute;
    height: 8%;
    width: 50%;
    border-radius: 1em;
    font-weight: bold;
    color: #E42217;
    margin: 2.5% 0 0 0;
    font-size: 3em;
    background-color: white;
    transform: rotate(-6deg);
}