* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: bisque;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
  }
  
  /* Main Styles */
  main {
    margin: 1% 0 1% 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  main div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(12, 12, 12, 0.1);
    padding: 1rem;
    flex-basis: 350px;
    align-items: center;
  }

  
  main div h2 {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
  }

  main div h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #4863A0  ;
  }
  
  
  main div p {
    margin-bottom: 1rem;
  }
  
  main div ul {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  main div li {
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
  }
  
  main div select {
    vertical-align: middle;
  }
  
  main div option {
    vertical-align: middle;
  }
  
  main div li label {
    display: inline-block;
    width: 80px;
    margin-right: 0.5rem;
    font-weight: bold;
  }
  
  main div li input[type="text"],
  main div li input[type="number"],
  main div li select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    line-height: 1.5;
    text-transform: capitalize;
  }
  
  main div li input[type="text"]:focus,
  main div li input[type="number"]:focus,
  main div li select:focus {
    outline: none;
    border-color: #f44336;
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.5);
  }
  
  .submitbtn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    margin: 0 auto;
  }
  
  main div button:hover {
    background-color:  #e53935;
  }
  
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }

footer p {
font-size: 1.1rem;
}

footer a {
color: #fff;
font-weight: bold;
margin-left: 0.5rem;
transition: all 0.2s ease;
}

footer a:hover {
text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
header {
  flex-direction: column;
}

nav {
  margin-top: 1rem;
}

main div {
  flex-basis: 100%;
}
}